/* BASE CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article{
    width: 100vw;
    height: 100vh;
}

#container{
    width: 100%;
}

.otter{
    width: 90%;
    background-color: #000000;
    border: 1em solid #dcdcdc;
    margin: 10% auto;
}

.otter h1{
    background-color: #ff006e;
    text-transform: capitalize;
    font-size: 1.5625em;
    font-weight: bold;
    text-align: center;
    padding: 0.7em 0.7em;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 2.5em;
    border-radius: 0.2em;
}

.div-p{
    background-color: #ffffff;
    width: 90%;
    margin: 1em auto;
    border-radius: 0.5em;
}

.div-p p{
    padding: 5em 1em 2em 1em;
    text-align: start;
}

header{
    text-align: center;
    margin-right: 2.5em;
    font-weight: bold;
}

header a{
    color: #0000ff;
    text-decoration: underline dotted;
}


/* MEDIA QUERIES */

@media(min-width:768px){
    .otter{
        font-size: 1.5em;
        margin:0.2em auto;
    }
}